md/
[Bb]uild/*
CMakeCache.*
CMakeFiles/*
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
*~ 
.history
.localhistory/
tmp/
klarenz/.stack-work/
tinysynth/build/** 
tinysynth/build2/**  
build/** 
build2/** 
build2/.cmake/
build2/CMakeFiles/**
klarenz/*.lock
*~
*.swp
tarballs/
.stack-work/
my_notes/
klarenz/stack.yaml.lock  
tinysynth/tinysynth/cmake_install.cmake
tinysynth/CMakeFiles/
tinysynth/cmake_install.cmake
tinysynth/build.ninja
