[submodule "tinysynth/include/external/imgui"]
	path = tinysynth/include/external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "tinysynth/include/external/jack2"]
	path = tinysynth/include/external/jack2
	url = https://github.com/jackaudio/jack2.git
[submodule "tinysynth/include/external/nova-simd"]
	path = tinysynth/include/external/nova-simd
	url = https://github.com/timblechmann/nova-simd.git
[submodule "tinysynth/include/external/nsimd"]
	path = tinysynth/include/external/nsimd
	url = https://github.com/agenium-scale/nsimd.git
[submodule "tinysynth/include/external/xsimd"]
	path = tinysynth/include/external/xsimd
	url = https://github.com/xtensor-stack/xsimd.git
